@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}

.nav-item {
  background-color: #fff;
  margin: .25rem;
}
.nav-link {
  color: #2780e3;
  m
}
